/* =============================================
			Theme Color
============================================= */
a,
p a,
p a:hover,
a:hover,
a:focus,
a:active,
.tg-breadcrumb li a:hover,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
p a,
.tg-nav ul li a:hover,
.tg-tabs-nav li a:hover i,
.tg-tabs-nav li.active a i,
.form-searchdoctors h1 em,
.tg-healthcareonthego ul li:after,
.tg-findbycategory ul li:hover a,
.tg-findbycategory ul li:hover:after,
.tg-findbycategory ul li:last-child a,
.tg-post .tg-description blockquote:before,
.tg-post .tg-description blockquote:after,
.tg-metadata li a:hover,
.tg-info i,
.tg-docinfo .tg-stars i,
.tg-img-hover a,
.tg-widget ul li .tg-docinfo a:hover,
.tg-widget ul li a:hover,
.tg-widget ul li:hover:after,
.tg-docprofile-content h3 a:hover,
.tg-contactus .tg-search-categories a:hover,
.tg-tab-widget .tab-content .tg-stars i,
.tg-ratingbox .tg-stars i,
.tg-packages .tg-stars i,
.tg-packages:hover .tg-featuredicon em,
.tg-otherphotos h3 a:hover,
.tg-addfield button:hover i,
.tg-addfield button:hover span,
.tg-post-detail .tg-post .tg-tags .tg-tag li a:hover,
.tg-blog-grid .tg-post .tg-contentbox h3 a:hover,
.tg-reviewcontet .comment-head h3 a:hover,
.tg-support h3 a:hover,
.tg-reviewcontet .comment-head .tg-stars i,
.tg-widget ul li time,
.tg-nav .navbar-collapse ul li a:hover








{color: #4DC8E3;}
/* =============================================
			Theme Background Color
============================================= */
/*.tg-btn:hover,*/
.tg-btn:after,
.tg-tabs-nav li.active a .tg-category-name:after,
.tg-tabs-nav li a:hover .tg-category-name:after,
.tg-tabs-nav li a:before,
.tg-patientfeedback:hover,
.tg-searchform .form-group button[type="submit"],
.navbar-header .navbar-toggle,
.tg-listing-views li.active a,
.tg-listing-views li a:hover,
.tg-listsorttype ul li a:hover,
#comming-countdown li:last-child,
.tg-pagination ul li a:hover,
.tg-pagination ul li:first-child a:hover,
.tg-pagination ul li:last-child a:hover,
.tg-pagination ul li:first-child:after,
.tg-pagination ul li:last-child:before,
.tg-pagination ul li.active a,
.tg-packages:hover,
.tg-widget ul li a:hover i,
.tg-reactivate .tg-btn,
.tg-widget.tg-widget-accordions .panel.active .tg-panel-heading:after,
.tg-widget.tg-widget-accordions .tg-panel-heading:hover:after









{background:#4DC8E3;}
{ background:rgba(125, 187, 0, 0.9);}
/* =============================================
			Theme Border Color
============================================= */
.tg-btn,
.tg-nav ul li ul,
.tg-theme-heading .tg-roundbox,
.tg-patientfeedback:hover,
.tg-patientfeedback:hover:before,
.tg-patientfeedback:hover:after,
.tg-threecolumn,
.tg-show,
.tg-searchform .form-group .tg-btn.tg-advance-search:hover,
.tg-listsorttype ul li a:hover,
.tg-featuredicon,
.tg-tab-widget ul.tg-nav-tabs li.active a,
.tg-tab-widget ul.tg-nav-tabs li a:hover









{border-color: #4DC8E3;}

.tg-docimg .tg-uploadimg{border-bottom-color: #4DC8E3;}
